* {
    margin: 0;
    box-sizing: border-box;
}

h4 {

    text-align: center;
    color: #545454;
    position: absolute;
    width: 200px;
    height: 41px;
    left: 88px;
    top: 28px 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans', ;
    font-weight: 700;
    width: 175px;
    height: 54px;
    color: #1f9440;
    left: 100px;
    top: 69px;
   
}

label {
    width: 78px;
    height: 27px;
    left: 42px;
    top: 243px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    color: #000000;

}

input {
    width: 292px;
    height: 34px;
    left: 42px;
    top: 191px;

    background: #E9E9E9;



}




button {
    font-size: 30px;
    color: #ffffff;
    width: 270px;
    height: 62px;
    top: 646px;
    left: 53px;
    background-color: #1f9440;
    border-radius: 30px;
    align-items: center;
}
 button {
    font-size: 30px;
    color: #ffffff;
    width: 270px;
    height: 62px;
    top: 646px;
    left: 53px;
    background-color: #1f9440;
    border-radius: 30px;
    align-items: center;



}