* {
    margin: 0;
    box-sizing: border-box;
}


main {
    position: absolute;
    text-align: center;
    background-size: cover;
    background-color: #ffff;

}


img {

    width: 100%;
    margin-bottom: 33px;

}




h1 {
    font-size: 40px;
    font-family: sans-serif;
    color: #1f9440;


}

p {

    font-size: 20px;
    font-family: sans-serif;
    color: #545454;
    margin-bottom: 123px;
}

a {

    font-size: 30px;
    color: #ffffff;
    width: 270px;
    background-color: #1f9440;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 50px;



}